*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: rgb(238, 238, 238);
}

#root{
  width: 100%;
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin: 60px 0px 15px 0px;
  font-family: "noticia text",sans-serif;
}

.app_desc{
  margin: 0px 0px 50px 0px;
  font-family: "Questrial",sans-serif;
}

#inp_search{
  width:80%;
  height: 50px;
  border-radius: 7px;
  outline: none;
  font-family: "Questrial",sans-serif;
  font-size: 18px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
  padding: 0px 20px;
  border: none;
}

#inp_search:focus{
  box-shadow: 0px 0px 5px 2px #5161ce;
}

.card_container{
  width: 90%;
  margin-top: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_item{
  width: 15%;
  padding: 30px 5px;
  height: 160px;
  margin: 20px 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

.emoji_icon{
  font-size: 20px;
  margin-bottom: 25px;
}

.emoji_name{
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Questrial",sans-serif;
}

.card_item:hover{
  transform: scale(1.1, 1.1);
}